#textdomain wesnoth-low
[scenario]
    name= _ "Revelations"
    id=16_Revelations
    next_scenario=17_The_Chief_Must_Die
    
    allow_new_game=no

    turns=1
    {NO_MAP_DATA}

    {SCENARIO_MUSIC revelation.ogg}

    # wmllint: directory spelling Aquagar
    [story]
        [part]
            show_title=yes
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "So you are the ones who defeated Aquagar and his minions. Olurf, I know you; you were here before when we were both much younger. But elves never come to Thoria. Yet these are no ordinary times for this land. I know all; I have foreseen this would happen."
        [/part]
        [part]
            background=story/characters/olurf.webp
            scale_background=no
            story={CAPTION ( _ "Olurf")} + _ "These are Kalenz, Landar and Cleodil, leaders of the elves. We have come here on the advice of the human king to seek your help in fighting the orcs. The king has promised you amnesty if you help us."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Yes, the scion of the tyrant Haldrik is in desperate straits. The Orc chieftain has cut the knot of lies his father worked so hard to weave. Soon the humans will pay a terrible price for their king's arrogance."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "What do you mean?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "The orc lords fought a brutal battle with the humans. They did not hesitate to drive hundreds of their slaves to their deaths to achieve a single goal. Suddenly, they're taking it out on you elves. Why do you think that is?"
        [/part]
        [part]
            background=story/characters/cleodil.webp
            scale_background=no
            story={CAPTION ( _ "Cleodil")} + _ "King Haldric said they needed a certain Ruby of Fire..."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "That's true. But what he didn't say was that his father had fooled the enemy into giving the Ruby to the elves. This powerful artifact is the source of all your troubles."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "That... clears up a lot of things. But why is Ruby so important to the orcs?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Not for the orcs, for their lords. Anyone can use the Ruby in battle when their rage merges with the stone's fiery nature, but only a true lord of magic can wield it outside of battle. Apparently, the current orc leader learned this secret from his former lords, which is why he is so desperate to find the Ruby even after their destruction."
        [/part]
        [part]
            background=story/characters/cleodil.webp
            scale_background=no
            story={CAPTION ( _ "Cleodil")} + _ "Even in the most terrifying tales and legends, Orcs have never used magic. This is unthinkable!"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Orcs have their own shamans and sorcerers. If one of them was close to such powerful mages as the lich lords were, it is no surprise that he has learned their secrets. Fortunately for us, he will never reveal those secrets to others, for that is the basis of his power as supreme leader."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "So we're up against a one-of-a-kind sorcerer chief? What happens if he takes possession of the Ruby?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "If that happens, no one, not even the military alliance of men, dwarves and elves, will be able to resist him. He will enslave every land his long paws reach, and the inhabitants will live long and dark times of orcish slavery."
        [/part]
        [part]
            background=story/characters/landar.webp
            scale_background=no
            story={CAPTION ( _ "Landar")} + _ "This is monstrous! The humans are weak, their kingdom could fall at any moment! As long as they have the Ruby, we are in grave danger! We must get it back. I'm sure there are those among our people who can unlock Ruby's potential and channel it for good!"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "You're very brave, but just as bold, Landar. Before you listen to me fully. The ruby not only gives its owner great power, but also gradually takes over his mind. I've seen it in the case of Haldrik I. In a matter of years, he went from a glorious king to a sullen, distrustful tyrant. He betrayed the alliance and banished many of his friends, accusing them of treachery... He banished me as well for seeking a way to stop Ruby's dark influence. So anyone who uses him will end up like an evil orc chieftain. You don't want that fate!"
        [/part]
        [part]
            background=story/characters/cleodil.webp
            scale_background=no
            story={CAPTION ( _ "Cleodil")} + _ "Such a terrible thing has no place on our soil. We must throw the Ruby into the ocean!"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Sooner or later it will return in the hands of a new lord. The ruby cannot be thrown away or destroyed, but its power can be contained by setting it in the purest gold. Unfortunately, there was no such gold to be found anywhere in Wesnoth."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "So the orc chieftain will now throw all his forces at the humans to get that Ruby?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "That's right. My gryphons have seen orc armies from all corners of the world flocking to the capital. Soon they will gather in a single fist and destroy the humans, followed by the elves and dwarves."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "We thank you for this conversation. But will you help us? Is there any way to stop the orcs? "
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "You must kill their great leader. This will undermine their belief in their own invincibility. There will be a struggle for succession among the orcs, and you will have plenty of time to recover by the time the new great leader appears. But he will not be so terribly powerful, and his threat will be nothing compared to what confronts us now."
        [/part]
        [part]
            background=story/characters/olurf.webp
            scale_background=no
            story={CAPTION ( _ "Olurf")} + _ "Kill an orcish Great Chieftain? But he’s guarded better than a troll hole!"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Indeed, it will not be at all easy. But maybe I can help you..."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "But you want something in return..."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "It is as you say. These drakes were after my book. This book has all the magic and spells I know in it. They are very powerful, but the one enemy they cannot defeat is old age. The knowledge tempts me to prolong my life by evil and dark means... But this is the work of my life and I can no more destroy it than I could slay my own child. Aquagar is slain, but more will come. One of my allies has betrayed me, and now too many know of this book."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "If you come with us, we will protect you..."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "No, my time is done... But the charge I lay on you, Kalenz, is to take my book and keep it from unworthy hands. Find someone to hold it who will not be corrupted by its power. And then find someone worthy not merely to hold it, but to use it!"
        [/part]
        [part]
            background=story/characters/landar.webp
            scale_background=no
            story={CAPTION ( _ "Landar")} + _ "If your book is as powerful as you say, why not use it against the orcs?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Because the book is like the Ruby of Fire. Any fool can use the magic in the book, but only a master can vanquish the lust for power that it will bring out in him. He who fails will turn into something like Haldric, or worse..."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "Cleodil is pure in heart. Perhaps she can guard your book without being corrupted by its secrets..."
        [/part]
        [part]
            background=story/characters/cleodil.webp
            scale_background=no
            story={CAPTION ( _ "Cleodil")} + _ "I am sure all these secrets are far beyond my art. My art is the healing kind and I..."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "There is no other option."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "Very well, suppose Cleodil accepts the guardianship of your book. How will you then help us slay the orcish Great Chief?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "There is a way, but it will be very dangerous. Two of you must enter the orcish camp by stealth and kill the Great Chief. There is a potion that will make you invisible for some time."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "The elves have legends of such things. I suppose you have this potion, then?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Indeed I do, but it is perilous to use. It is made from the eyes of a powerful undead lich. It will make you invisible, but it is likely also to have undesirable effects, some temporary, some permanent!"
        [/part]
        [part]
            background=story/characters/cleodil.webp
            scale_background=no
            story={CAPTION ( _ "Cleodil")} + _ "No! This is too dark and dangerous! I fear for you, Kalenz! I... would not see you come to harm."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "What undesirable effects?"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Your physical strength will decrease, though in return you will be able to use magic more easily and powerfully. Cleodil will show you. But the real danger will be the touch of the lich’s evil nature stealing through your veins. You will need to fight and master this evil in yourself, else you might slowly turn into a lesser demilich yourself. This is why you must take only a small dose and finish the job quickly. Delay and you will fail in your mission; take too large a dose, and you will become as the lich was."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "It is a dark and desperate course you set before me, but I see no other way; we must stop the orcs. As leader I cannot ask my men to run a risk I will not take myself, so I will be one of the two who will go to kill the Great Chief. But I will not compel anyone else to come with me, not at peril of being overwhelmed from within by evil magic. Does anyone volunteer?"
        [/part]
        [part]
            background=story/characters/landar.webp
            scale_background=no
            story={CAPTION ( _ "Landar")} + _ "I will come with you. We shall not fail!"
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "This does not seem the wisest of choices."
        [/part]
        [part]
            background=story/characters/kalenz.webp
            scale_background=no
            story={CAPTION ( _ "Kalenz")} + _ "Landar may be impetuous, but he is a great fighter and my trusted friend. We should be about our task now, I think. Crelanu, your book will be safe with us. Cleodil will guard it until we find a worthy keeper."
        [/part]
        [part]
            background=story/characters/crelanu.webp
            scale_background=no
            story={CAPTION ( _ "Crelanu")} + _ "Come, I will give you and Landar a potion and show you how to get out of Arkan-Toria safely. I'll also send a gryphon to King Haldric and have him move immediately to Glamdrol with Ruby and the rest of the army. Someone must lure the horde beyond the walls, or even with the potion you will not reach the great leader. And if our plan fails, well, what's the point of delaying the inevitable?"
        [/part]
    [/story]
    
    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ}
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {LANDAR}
    [/side]

    [event]
        name=prestart
        [endlevel]
            result=victory
            save=no
            linger_mode=no
            bonus=no
            carryover_report=no
            carryover_percentage=100
        [/endlevel]
    [/event]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ}
    [/side]
    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {LANDAR}
    [/side]
#ifdef MULTIPLAYER
    [event]
        name=victory

        [persistent_carryover_store]
            scenario_id = LoW_Chapter_Three
        [/persistent_carryover_store]
    [/event]
#endif
[/scenario]
