#textdomain wesnoth-low
[scenario]
    id=21_Costly_Revenge
    next_scenario=22_Council_Ruling
    name= _ "Costly Revenge"
    {LOW_MAP 21_Costly_Revenge.map}
    {~add-ons/Legacy_of_Wesmere/maps/Saurgath_utils.cfg}
    victory_when_enemies_defeated=no
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes
    {DEFAULT_SCHEDULE_DUSK}
    {TURNS 40 35 30}

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC                         vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC                casualties_of_war.ogg}
    {EXTRA_SCENARIO_MUSIC           the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC                 into_the_shadows.ogg}
    {EXTRA_SCENARIO_MUSIC                weight_of_revenge.ogg}
    {EXTRA_SCENARIO_MUSIC                    nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC                         suspense.ogg}

    [story]
        [part]
            story= _ "But Kalenz failed to persuade the dwarves. The dwarves left, and Landar insisted the elves must march on the empire of the saurians..."
            {LOW_BIGMAP}
            {SAURIANS_STAGE1}
        [/part]
        [part]
            story={CAPTION ( _ "Cleodil")} + _ "Kalenz... the shydes and druids are not happy with this. Landar has too much anger in his heart to seek vengeance on the lizards, but their blood will not bring back the Goldenleaf Grove or resurrect its inhabitants. I've thought long and hard about it, and I've decided I don't need that sacrifice."
            background=story/characters/cleodil.webp
            scale_background=no
        [/part]
        [part]
            story={CAPTION ( _ "Kalenz")} + _ "I am not entirely easy with this myself, Cleodil. But there is something to what Landar says; the wide green world must know there is a price, a heavy price for raiding in the forest of Wesmere."
            background=story/characters/kalenz.webp
            scale_background=no
        [/part]
        [part]
            story={CAPTION ( _ "Cleodil")} + _ "Then you who walk the earth path and carry steel can collect that price. Those on the faerie path will not be with you. Not this time."
            background=story/characters/cleodil.webp
            scale_background=no
        [/part]
        [part]
            story={CAPTION ( _ "Kalenz")} + _ "We do as we must."
            background=story/characters/kalenz.webp
            scale_background=no
        [/part]
    [/story]

    {LOW_TRACK {SAURIANS_STAGE1_END} }

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ}
        {SIDE_1_GOLD_FIXED 300 175}
        income=-2
        village_gold=1
        fog=no
        shroud=no
        [unit]
            {CLEODIL_COMPANION}
            placement=leader
        [/unit]
#ifndef MULTIPLAYER
        [unit]
            {LANDAR}
            x,y=2,6
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {LANDAR}
        gold=175
        income=-2
        village_gold=1
        fog=no
        shroud=no
    [/side]

    {STARTING_VILLAGES 3 7}

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=saurians
        user_team_name= _ "Lizards"
        {FLAG_VARIANT undead}
        type=Saurian Flanker
        id=Spahr
        name=_ "Spahr"
        {GOLD 180 240 280}
        {INCOME 5 10 15}
#ifdef EASY
        recruit=Saurian Skirmisher, Saurian Augur
#else
        recruit=Saurian Skirmisher, Saurian Augur, Saurian Ambusher, Saurian Oracle, Saurian Soothsayer, Saurian Flanker
#endif
        [ai]
#ifdef EASY
            recruitment_pattern=scout,scout,healer,scout
#else
            recruitment_pattern=scout,scout,healer,archer,archer,scout
#endif
        [/ai]
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=saurians
        user_team_name= _ "Lizards"
        {FLAG_VARIANT undead}
        no_leader=yes
        {GOLD 180 240 280}
        {INCOME 5 10 15}
#ifdef EASY
        recruit=Drake Fighter, Drake Burner, Drake Glider, Drake Clasher
#endif
#ifdef NORMAL
        recruit=Drake Fighter, Drake Burner, Drake Glider, Drake Clasher, Drake Warrior
#endif
#ifdef HARD
        recruit=Drake Fighter, Drake Burner, Drake Glider, Drake Clasher, Drake Warrior, Drake Thrasher, Drake Arbiter
#endif
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=saurians
        user_team_name= _ "Lizards"
        {FLAG_VARIANT undead}
        type=Saurian Flanker
        id=Hgyr
        name= _ "Hgyr"
        {GOLD 180 240 280}
        {INCOME 5 10 15}
#ifdef EASY
        recruit=Saurian Skirmisher, Saurian Augur
#else
        recruit=Saurian Skirmisher, Saurian Augur, Saurian Ambusher, Saurian Flanker, Saurian Oracle, Saurian Soothsayer
#endif
        [ai]
#ifdef EASY
            recruitment_pattern=scout, healer, scout
#else
            recruitment_pattern=scout, healer, scout, archer
#endif
        [/ai]
    [/side]

    [event]
    name=prestart 

        [if]
            [variable]
                name=dominant_rekkon_died 
                equals=yes 
            [/variable]
        [then]
            [unit]
                side=4 
                type=Drake Flameheart 
                id=Dominant Gran-Shour 
                name=_ "Dominant Gran-Shour"
                placement=leader 
                canrecruit=yes 
            [/unit]
        [/then]
        [else]
            [unit]
                side=4 
                type=Drake Blademaster
                id=Dominant Rekkon
                name=_ "Dominant Rekkon"
                placement=leader 
                canrecruit=yes 
            [/unit]
        [/else]
        [/if]

        [capture_village]
            side=6
            x,y,radius=31,10,6 
        [/capture_village]

        {CLEAR_VARIABLE dominant_rekkon_died}

        {RECALL id=Anduilas 3 8}
        {RECALL id=Arkildur 3 7}
        {RECALL_LOYALS}
        
        {MODIFY_UNIT side=1,2 facing se}

        [store_unit]
            [filter]
                id=Cleodil 
            [/filter]
            kill=yes 
            variable=cleodil 
        [/store_unit]

        [store_unit]
            [filter]
                side=1,2
                type_adv_tree=Elvish Shaman
            [/filter]
            kill=yes 
            variable=shamans
        [/store_unit] 

        [disallow_recruit]
            side=1,2
            type=Elvish Shaman,Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Ulfserker,Dwarvish Guardsman
        [/disallow_recruit]

        [kill]
            side=1,2 
            race=dwarf 
            animate=no 
            search_recall_list=yes 
        [/kill]

        [objectives]
            side=0
            [objective]
                description= _ "Defeat all enemy units, and destroy all villages"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Landar"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                carryover_percentage=0
                bonus=no
            [/gold_carryover]
        [/objectives]
    [/event]

   [event]
        name=start
        [message]
            side=1
            [not]
                id=Kalenz
            [/not]
            [not]
                id=Landar
            [/not]
            {FILTER_LOYALS}
            message= _ "We have finally reached Saurgrath, their capital. Remember whose side they have taken in the war against us."
        [/message]
        [message]
            id=Landar
            message= _ "Now is our chance to finish them off..."
        [/message]
        [message]
            id=Kalenz
            message= _ "I fear this will be a bloodbath..."
        [/message]
        [message]
            id=Landar
            message= _ "Destroy them, root and branch. Burn out their homes. Let none remain alive!"
        [/message]
        [message]
            id=Dominant Rekkon
            message= _ "You again? This time I'm not going to let you get away with it. I will fight until I gut the last of you, or die!"
        [/message]
        [message]
            id=Dominant Gran-Shour
            message= _ "You insolent creatures, you've come back here for nothing. Unlike the last dominant, I won't let you leave! You'll all crunch on my fangs!"
        [/message]

        [scroll_to_unit]
            id=Kalenz 
        [/scroll_to_unit]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "Kalenz is not able to recruit or recall shamans or any of their advancements in this scenario."
        [/message]
    [/event]

#define VICTORY_CONDITIONAL
    [if]
        [not]
            [have_unit]
                side=2
                [or]
                    side=3
                [/or]
            [/have_unit]
        [/not]
        [not]
            [have_location]
                terrain=*^V*
            [/have_location]
        [/not]
        [then]
            [endlevel]
                result=victory
                bonus=no
                save=no
                carryover_percentage=0
            [/endlevel]
        [/then]
    [/if]
#enddef

    #TODO update this comment
    # every time one of the saurian gets killed this event checks if it
    # was the last one and if there are any villages left.
#define VICTORY_CONDITIONAL
    [if]
        [not]
            [have_unit]
                race=lizard,drake
            [/have_unit]
        [/not]
        [not]
            [have_location]
                terrain=*^V*
            [/have_location]
        [/not]
        [then]
            [endlevel]
                result=victory
                {DEFAULT_ENDLEVEL yes 0.5 40}
            [/endlevel]
        [/then]
    [/if]
#enddef

    [event]
        name=die
        first_time_only=no
        [filter]
            race=lizard
        [/filter]
        {VICTORY_CONDITIONAL}
    [/event]

    [event]
        name=capture
        first_time_only=yes
        [filter]
            side=1
            [not]
                id=Landar
            [/not]
        [/filter]

        [message]
            x=$x1
            y=$y1
            message= _ "These are but eggs and hatchlings."
        [/message]
        [message]
            id=Landar
            message= _ "Do not spare them. They will only foul our forests anew when they get their growth."
        [/message]
        [message]
            side=3,5
            [not]
                canrecruit=yes
            [/not]
            message= _ "They even shatter our eggs!"
        [/message]
        [if]
            [have_unit]
                #wmllint: recognize Anduilas
                id=Anduilas
            [/have_unit]
            [then]
                [role]
                    role=Anduilas
                    id=Anduilas
                [/role]
            [/then]
            [else]
                [role]
                    role=Anduilas
                    side=1
                    [not]
                        id=Kalenz
                    [/not]
                    [not]
                        id=Landar
                    [/not]
                    [not]
                        id=$unit.id
                    [/not]
                [/role]
            [/else]
        [/if]
        [message]
            role=Anduilas
            message= _ "But... to kill their young? Are we to go that far?"
        [/message]
        [message]
            id=Kalenz
            message= _ "Stay. You need not have the blood of children on your hands, and I shall not."
        [/message]
        [message]
            id=Landar
            message= _ "Perhaps you are too tender-minded to do what must be done, but many of us are not."
        [/message]
        [message]
            id=Kalenz
            message= _ "I will not set elf against elf. But, Landar, I fear you are storing up a dreadful price for yourself."
        [/message]
        [message]
            id=Landar
            message= _ "Stand aside. I will do what is needful."
        [/message]
        [message]
            side=2,3
            [not]
                canrecruit=yes
            [/not]
            message= _ "Their revenge is terrible! I fear for our kind."
        [/message]
        [message]
            side=2,3
            canrecruit=yes
            message= _ "Don’t flee. We cannot abandon our capital."
        [/message]
        [scroll_to]
            x=$x1
            y=$y1
        [/scroll_to]
    [/event]

    # capture event lifted from IftU.
    [event]
        name=moveto
        first_time_only=no
        [filter]
            [filter_location]
                terrain=*^V*
            [/filter_location]
            side=1
            [not]
                id=Kalenz
            [/not]
            [not]
                role=Anduilas
            [/not]
        [/filter]
        [sound]
            name=hiss-die.wav
        [/sound]
        [sound]
            name=torch.ogg
        [/sound]
        [delay]
            time=200
        [/delay]
        [sound]
            name=wose-die.ogg
        [/sound]
        [terrain]
            x=$x1
            y=$y1
            terrain=Dd^Dr
            layer=overlay
        [/terrain]
        [redraw][/redraw]
        {VICTORY_CONDITIONAL}
    [/event]

    [event]
        name=victory
        # dialog
        [message]
            id=Kalenz
            message= _ "That was the last. A bitter day’s work, and no memory to be proud of."
        [/message]
        [message]
            id=Landar
            message={WHISPER _"A shame we missed the opportunity to rid the forests of dwarves, as well."}
        [/message]
    [/event]
    
    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
[/scenario]

#undef VICTORY_CONDITIONAL
