#textdomain wesnoth-low

[scenario]
    id=01_The_Uprooting_Reworked
    name= _ "The Uprooting"
    map_data="{~add-ons/Legacy_of_Wesmere/maps/01_Uprooting.map}"

    {TURNS 20 17 14}

    next_scenario=02_Hostile_Mountains_Reworked
    victory_when_enemies_defeated=no

    random_start_time=no
    current_time=3
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    allow_new_game=yes
    new_game_title= _ "Chapter One: Flight and Fight"
    force_lock_settings=yes

    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC elf-land.ogg breaking_the_chains.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}
    {EXTRA_SCENARIO_MUSIC silvan_sanctuary.ogg}

    [story]
        [part]
            title=<span size='35000' font_family='Oldania ADF Std'> + _"<i>The Legend of Wesmere</i>       
Chapter One" + </span>
        [/part]
        [part]
            title=<span size='35000' font_family='Oldania ADF Std'> + _"Chapter One       
<i>Flight and Fight</i>" + </span>
        [/part]
        [part]
            story=_ "The great elven heroes Kalenz and Landar were born in a quiet green wood in Lintanir on the fringes of the Great Northern Forest."
            {LOW_BIGMAP}
            {NEW_REST 1094 444}
        [/part]
        [part]
            story=_ "Though not of noble birth, Kalenz showed early promise in the arts of his people. His quick intelligence gained him more than usual respect among elders normally inclined to pay little heed to anyone younger than a century old."
            background="story/characters/kalenz.webp"
            scale_background=no
        [/part]
        [part]
            story=_ "Landar and Kalenz were friends from childhood. He too attracted the attention of elders, at first because of a knack for mischief and pranks. But there was no real harm in the boy, and his jokes made him popular among the younger elves."
            background="story/characters/landar.wevp"
            scale_background=no
        [/part]
        [part]
            story=_ "Perhaps the elders sensed that changing times would require more flexible minds; these were the years when humans from the Green Isle were establishing themselves south of the Great River, and the known world was changing more rapidly than it had for a thousand years before."
        [/part]
        [part]
            story=_ "Some changes were good. The elves, awakened as from a long dream, began to increase in population. But some were very bad, and the worst of those was the coming of the orcs, the wreckers, the tree-killers. The years of their long childhoods were a golden age, and the last time of untroubled peace."
        [/part]
        [part]
            story=_ "The elves had never been a martial people, and they were not prepared for the inevitable war with the orcs. The friends came of age in the very year that Erlornas of Wesmere fought the first orcish raiders. Within the next decade orcish raids greatly increased, and their shadow loomed ever greater over the elves.

This is the story of Kalenz, Landar, and of the elves in the first days of the humans in Wesnoth."
            background="story/landscape-battlefield.webp"
        [/part]
    [/story]

    {LOW_TRACK {FLIGHT_STAGE1} }

    [time_area]
        {DEFAULT_SCHEDULE}
		current_time=3
		id=velon_castle
		x="13,14,15,16,17,18,19"
		y="16,15,15-16,15-16,15-16,15,16"
	[/time_area]

    [side]
        side=1
        recruit="Elvish Fighter,Elvish Archer"
        {SIDE_1_GOLD 200 175 150 150 125 100}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=no
        {SIDE_1_ESSENTIALS}

        [unit]
            {ANDUILAS}
            x=15
            y=19
        [/unit]

	#ifndef MULTIPLAYER
        [unit]
            {LANDAR_YOUNG}
            x,y=17,18
        [/unit]

        [unit]
            {ARKILDUR}
            x=17
            y=19
        [/unit]
    #endif
    [/side]

    [side]
        side=2
        recruit="Elvish Archer,Elvish Fighter"
        {SIDE_2_ESSENTIALS}
        {GOLD 150 125 100}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=no

    #ifdef MULTIPLAYER
        [unit]
            {ARKILDUR}
            x=17
            y=19
        [/unit]
    #endif
    [/side]

    {STARTING_VILLAGES_ALL 3}

    [side]
        side=3
        id=Velon
        {FLAG_VARIANT wood-elvish}
        village_gold=1
        controller=ai
        allow_player=no
        name= _ "Velon"
        {PLAYER_TEAM}
        color=green
        recruit=Elvish Fighter,Elvish Archer
        {GOLD 200 160 140}
        type=Elvish Lord
        profile="portraits/velon.webp"
        canrecruit=yes
        [modifications]
            {TRAIT_AGED}
            {TRAIT_WEAK}
        [/modifications]
        [ai]
            [avoid]
                [not]
                    area=velon_castle 
                [/not]
            [/avoid]
        [/ai]
    [/side]

    #define ORCISH_AI 
        [ai]
            grouping=no
            aggression=0.75
            caution=0

            [goal]
                [criteria]
                    side=3
                [/criteria]
                value=1.5
            [/goal]

            [aspect]
                id=recruitment_instructions
                [facet]
                    turns=1-1
                    [value] 
                        [recruit]
                            type=Orcish Assassin
                            number={ON_DIFFICULTY 3 3 2}
                        [/recruit]
                        [recruit]
                            type=Orcish Slayer
                            number={ON_DIFFICULTY 0 0 1}
                        [/recruit]
                        [recruit]
                            type=scout
                            number=1
                        [/recruit]
                    [/value]
                [/facet]
                [facet]
                    turns=2-infinity
                    [value] 
                        [limit]
                            type=2
                            max={ON_DIFFICULTY 0 2 3}
                        [/limit]
                    [/value]
                [/facet]
            [/aspect]
        [/ai]
    #enddef

    #define ORCISH_RECRUITS 

    #ifdef EASY
        recruit=Goblin Spearman, Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider 
    #endif
    #ifdef NORMAL
        recruit=Goblin Spearman, Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Orcish Warrior
    #endif
    #ifdef HARD
        recruit=Goblin Spearman, Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Knight, Orcish Warrior, Goblin Pillager, Orcish Slayer
    #endif
    #enddef

    [side]
        side=4
        {UNPLAYABLE_SIDE}

        {GOLD 150 175 200}
        {INCOME 10 12 15}

        team_name=orcs
        user_team_name= _ "Orcs"
        color=purple

        id=Tbaran
        name= _ "T’baran"
        type=Orcish Warrior
        canrecruit=yes
       
        {FLAG_VARIANT ragged}
        {ORCISH_RECRUITS}
        {ORCISH_AI}
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}

        {GOLD 150 175 200}
        {INCOME 10 12 15}

        team_name=orcs
        user_team_name= _ "Orcs"
        color=black

        id=Wrulf
        name= _ "Wrulf"
        type=Orcish Warrior
        canrecruit=yes

        {FLAG_VARIANT ragged}
        {ORCISH_RECRUITS}
        {ORCISH_AI}
    [/side]

    [side]
        side=6
        controller=ai
        {UNPLAYABLE_SIDE}

        {GOLD 150 175 200}
        {INCOME 10 12 15}

        team_name=orcs
        user_team_name= _ "Orcs"
        color=orange

        id=Graur-Tan
        name= _ "Graur-Tan"
        type=Orcish Warrior
        canrecruit=yes

        {ORCISH_RECRUITS}
        {FLAG_VARIANT ragged}
        {ORCISH_AI}
    [/side]

    [side]
        side=7
        controller=ai
        {UNPLAYABLE_SIDE}

        {GOLD 150 175 200}
        {INCOME 10 12 15}

        team_name=orcs
        user_team_name= _ "Orcs"
        color=brown

        id=Qumseh
        name= _ "Qumseh"
        type=Orcish Warrior
        canrecruit=yes

        {ORCISH_RECRUITS}
        {FLAG_VARIANT ragged}
        {ORCISH_AI}
    [/side] 

    {LIMIT_RECRUITS 4 "Orcish Slayer" 1}
    {LIMIT_RECRUITS 4 "Orcish Assassin" {ON_DIFFICULTY 3 3 2}}

    {LIMIT_RECRUITS 5 "Orcish Slayer" 1}
    {LIMIT_RECRUITS 5 "Orcish Assassin" {ON_DIFFICULTY 3 3 2}}

    {LIMIT_RECRUITS 6 "Orcish Slayer" 1}
    {LIMIT_RECRUITS 6 "Orcish Assassin" {ON_DIFFICULTY 3 3 2}}

    {LIMIT_RECRUITS 7 "Orcish Slayer" 1}
    {LIMIT_RECRUITS 7 "Orcish Assassin" {ON_DIFFICULTY 3 3 2}}

    [event]
    name=prestart 
        {CUSTOM_RUINED_KEEPS}
        {VARIABLE Velon_dead no}
    [/event]

    [event]
    name=new_turn 
    first_time_only=no

        {LIGHT_EFFECT_NO_SOUND}
    [/event]

    [event]
        name=start

        [message]
            id=Kalenz
            message= _ "Orcs are pressing on us from all directions! To arms!"
        [/message]

        [message]
            id=Velon
            message= _ "Hold, Kalenz, the Ka’lian Council has not declared war. Maybe we can reach an agreement with them!"
        [/message]

        [message]
            id=Qumseh
            message= _ "Surrender or die, tree-shaggers!"
        [/message]

        [message]
            id=Velon
            message= _ "They are too many. We have no choice but to submit!"
        [/message]

        [message]
            id=Kalenz
            message= _ "Forgive me, Elder, but I will never surrender to these foul beasts. Who will fight them beside me?"
        [/message]

        [message]
            id=Landar
            message= _ "We will follow you, Kalenz — but what is our plan?"
        [/message]

        [message]
            id=Kalenz
            message= _ "I've heard that Lord Erlornas of Wesmere has defeated orcs before. We must travel to Ka'lian and enlist his help to recapture our home."
        [/message]

        [message]
            id=Landar
            message= _ "But we are surrounded!"
        [/message]

        [message]
            id=Kalenz
            message= _ "Then we must storm one of the orcs’ outposts to break the encirclement before more enemies arrive!"
        [/message]

        [message]
            id=Anduilas
            message= _ "Very well, Kalenz — lead us!"
        [/message]

        [scroll_to_unit]
            id=Kalenz
        [/scroll_to_unit]

        [objectives]
            side=0
            [objective]
                description= _ "Kill any of the orc leaders"
                condition=win
            [/objective]
            [objective]
                {BONUS_OBJECTIVE_CAPTION}
                description= _ "Keep Velon alive"+{EARLY_FINISH_BONUS_FOOTNOTE}
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Landar"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
    name=side 4 turn 1

        [message]
            speaker=Tbaran
            message=_ "Send assassins forward to thin their ranks!"
        [/message]
    [/event]

    [event]
    name=side 4 turn 2
        {MODIFY_SIDE_AI (4,5,6,7) (recruitment_pattern="fighter,fighter,fighter,archer,scout")}
    [/event]

    [event]
        name=attack
        [filter_second]
            [filter_side]
                [has_unit]
                    id=Velon
                [/has_unit]
            [/filter_side]
        [/filter_second]

        {INCIDENTAL_MUSIC the_king_is_dead.ogg}

        [message]
            id=Velon
            message= _ "We surrender!"
        [/message]

        [message]
            id=Graur-Tan
            message= _ "You really believe we're taking captives? Ha-ha, die!"
        [/message]

        [message]
            id=Velon
            message= _ "Kalenz was right and I was wrong; good thing the elves followed him. Go, Kalenz, save them! I and the remaining elders will cover your retreat as best we may."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            canrecruit=yes
            race=orc
        [/filter]

        [message]
            speaker=unit
            message= _ "Curse you, tree-shaggers! We will feed your young to our wolves!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            canrecruit="yes"
            race=orc
        [/filter]

        [message]
            speaker=second_unit
            message= _ "What is this? The orc held plunder!"
        [/message]
#ifdef MULTIPLAYER
        {LOOT 25 1}
        {LOOT 25 2}
#else
        {LOOT 50 1}
#endif
        [if]
            [have_unit]
                id=Velon
            [/have_unit]
            [then]
                [endlevel]
                    result=victory
#ifdef MULTIPLAYER
                    bonus=0.5
        #else
                    bonus=yes
#endif
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/then]
            [else]
                [endlevel]
                    result=victory
                    bonus=no
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/else]
        [/if]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Velon
        [/filter]

        {INCIDENTAL_MUSIC sad.ogg}
       
        [message]
            id=Velon
            message= _ "Flee, Kalenz... Our hopes ride with you..."
        [/message]

        {VARIABLE Velon_dead yes}

        [store_side]
            side=$second_unit.side 
            variable=Velon_murders 
        [/store_side]

        {VARIABLE Velon_murders_color $Velon_murders.color}
        {CLEAR_VARIABLE Velon_murders}
    [/event]

    [event]
        name=victory
    
        [message]
            id=Velon
            message= _ "Flee, Kalenz... find vengeance for us!"
        [/message]

        [message]
            id=Kalenz
            message= _ "Velon, I swear on the life of Irdya that I will not let you be forgotten while elves yet draw breath to sing."
            [show_if]
                [have_unit]
                    id=Velon
                [/have_unit]
            [/show_if]
        [/message]

        [message]
            id=Velon
            message= _ "Swords will aid us more than songs, Kalenz; you saw that before I."
        [/message]

        [message]
            id=Kalenz
            message= _ "I will bring Wesmere's greatest swordsmen, and the orcs will pay dearly for invading our home."
            [show_if]
                [have_unit]
                    id=Velon
                [/have_unit]
            [/show_if]
        [/message]

        [message]
            id=Landar
            message= _ "Velon taught us to be strong, but counseled weakness. Even so, he did not deserve such an ugly death. We shall return and avenge him!"
            [show_if]
                [not]
                    [have_unit]
                        id=Velon
                    [/have_unit]
                [/not]
            [/show_if]
        [/message]

        [message]
            canrecruit=yes
            race=orc
            message= _ "You won’t get very far! After them!"
        [/message]

        [kill]
            id=Velon
            animate=no
        [/kill]
    [/event]

    [event]
        name=last breath

        [filter_second]
            id=Kalenz
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "You trifled with the wrong elf!"
        [/message]
    [/event]

    [event]
        name=last breath

        [filter_second]
            id=Landar
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Take that, you orcish scum!"
        [/message]
    [/event]

    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
[/scenario]

