#textdomain wesnoth-low
[scenario]
    id=07_Acquaintance_in_Need
    next_scenario=08_Dwarven_Doors
    name= _ "Acquaintance in Need"
    {LOW_MAP asq.map}

    victory_when_enemies_defeated=yes
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    allow_new_game=yes
    new_game_title= _ "Chapter Three: Harsh Way Back"
    force_lock_settings=yes
    
    random_start_time=no
    {DEFAULT_SCHEDULE}

    {TURNS4 40 35 30 25}

    {INTRO_AND_SCENARIO_MUSIC frantic.ogg wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC northerners.ogg}

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ}
        {SIDE_1_GOLD_FIXED 280 200}
        income=-2
        village_gold=1
        fog=no
        shroud=no
#ifndef MULTIPLAYER
        [unit]
            {LANDAR}
            x,y=32,13
        [/unit]
#endif
        [unit]
            {CLEODIL_COMPANION}
            x,y=32,10
        [/unit]
    [/side]
    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {LANDAR_YOUNG}
        gold=200
        income=-2
        village_gold=1
        fog=no
        shroud=no
    [/side]
    [side]
        side=3
        {UNPLAYABLE_SIDE}
        persistent=yes
        save_id=Olurf
        team_name=player
        user_team_name= _ "Heroes"
        {FLAG_VARIANT knalgan}
        {OLURF}
        gold=180
        income=12
        recruit=Dwarvish Fighter, Dwarvish Scout, Dwarvish Thunderer, Dwarvish Ulfserker, Dwarvish Guardsman
        [ai]
            recruitment_pattern=fighter,fighter,mixed fighter
            [leader_goal]
                id=0
                x,y=17,14
                auto_remove=no
                max_risk=1
            [/leader_goal]
            [goal]
                name=target_unit 
                [criteria]
                    side=4
                [/criteria]
                value=0.5 
            [/goal]
            [goal]
                name=target_unit 
                [criteria]
                    side=5
                [/criteria]
                value=1
            [/goal]
            [goal]
                name=target_unit 
                [criteria]
                    side=6
                [/criteria]
                value=1
            [/goal]
        [/ai]
    [/side]
    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Enemies"
        {FLAG_VARIANT ragged} 
        type=Troll Warrior
        id=Traur
        name=_ "Traur"
        {INCOME4 0 4 8 12}
        {GOLD4 120 160 200 240}
        recruit=Troll Whelp,Troll,Troll Hero
        [ai]
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 1 3 5}}
#endif
        [/ai]
    [/side]
    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Enemies"
        {FLAG_VARIANT ragged} 
        type=Troll Shaman
        {INCOME4 4 8 12 16}
        {GOLD4 150 200 250 300}
        recruit=Troll Whelp,Troll,Troll Hero,Troll Rocklobber,Troll Shaman,Troll Warrior
        [ai]
            recruiment_pattern=fighter,mixed fighter
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 1 3 5}}
            {AI_ASPECT_LIMIT_RECRUITS 3 {ON_DIFFICULTY 0 0 2}}
#endif
        [/ai]
    [/side]
    [side]
        side=6
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Enemies"
        type=Orcish Warlord
        id=Graur-Tan
        name=_ "Graur-Tan"
        canrecruit=yes
        {GOLD4 160 210 260 310}
        {INCOME4 4 8 12 16}
        recruit=Orcish Grunt,Orcish Archer,Orcish Assassin,Naga Fighter,Orcish Warrior,Naga Warrior,Orcish Slayer,Orcish Crossbowman,Naga Viper
        [ai]
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 2 5 8}}
#endif
        [/ai]
    [/side]

    {STARTING_VILLAGES 3 4}

    [event]
    name=prestart 
        [capture_village]
            side=4
            x=13-31
            y=3-7 
        [/capture_village]
    [/event]
    [event]
    name=prestart 
        [capture_village]
            side=5
            x=13-32,27
            y=17-24,16
        [/capture_village]
    [/event]
    [event]
    name=prestart 
        [capture_village]
            side=6
            x=1-11
        [/capture_village]
    [/event]

    [event]
        name=prestart

        [if]
            [have_unit]
                id=Erlornas 
                search_recall_list=yes 
            [/have_unit]
        [then]
            {RECALL id=Erlornas 32 12}
        [/then]
        [else]
            [unit]
                {ERLORNAS}
#ifdef MULTIPLAYER 
                side=2
#else 
                side=1
#endif
                x,y=32,12
            [/unit]
        [/else]
        [/if]
        
        {RECALL id=Anduilas 32 9}
        {RECALL id=Arkildur 31 13}
        {MODIFY_UNIT race=elf facing sw}

#ifdef MULTIPLAYER
            [persistent_carryover_unstore]
                scenario_id = LoW_Chapter_Two
            [/persistent_carryover_unstore]
#endif
    [/event]

    [event]
        name=prestart

        [objectives]
            side=0
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Landar"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Erlornas"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Cleodil"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Olurf"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
        name=start

        [message]
            speaker=Erlornas
            message= _ "Look - orcs and trolls have surrounded the dwarf outpost."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "And the outpost commander screams just like our old friend Olurf."
        [/message]
        [message]
            speaker=Olurf
            message= _ "You again? Maybe ye were not completely wrong when ye predicted the orcs would attack us. We ha’ been forced from our home and are now surrounded."
        [/message]
        [message]
            speaker=Cleodil
            message= _ "Let us give them aid — it’s clear they need it!"
        [/message]
        [message]
            speaker=Landar
            message= _ "Help them? They would not even let us pass through their land to avoid the trolls. You remember, Kalenz?"
        [/message]
        [message]
            speaker=Kalenz
            message= _ "You're right, I haven't forgotten the fallen on the road to Wesmere. But our greatest enemy is terrible. As long as there is hope, I will cling to any, even a ghostly chance to find allies in the fight against him. So it is with a heavy heart that I let go of my grudge against the dwarves, and I ask the same of you, friend."
        [/message]
        [message]
            speaker=Landar
            message= _ "I'll follow your example, though it won't be easy. Hey, Olurph! Save us some trolls!"
        [/message]
        [message]
            speaker=Olurf
            message= _ "For an elf, you think like a dwarf! I think I like you! " + {WHISPER _"whisper^—For an elf..."}
        [/message]
    [/event]

    [event]
    name=naga_dialogue 

        [message]
            speaker=Landar
            message= _ "Did nagas side with the orcs, too?!"
        [/message]
        [message]
            speaker=Erlornas
            message= _ "Yes. The enemy is gathering all our unkind neighbors under his banner. Trolls and nagas have joined his army, lizards have conspired. So you were wise to help the dwarves. When this horde descends upon Wesmere, we will need the help of all our allies."
        [/message]
    [/event]

    [event]
    name=attack_end 

        [filter]
            race=naga 
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]
        [fire_event]
            name=naga_dialogue
        [/fire_event]
    [/event]
    [event]
    name=attack_end 
        [filter]
            side=1,2 
        [/filter]
        [filter_second]
            race=naga 
        [/filter_second]
        [fire_event]
            name=naga_dialogue
        [/fire_event]
    [/event]

    [event]
        name=victory

        [message]
            speaker=Olurf
            message= _ "The enemy is dead! I don't know why you're back in the mountains, but you've come in handy today! Not like last time."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "Tell me better, what happened in the eastern hills, how did you get driven out of the home?"
        [/message]
        [message]
            speaker=Olurf
            message= _ "How! That's how! As soon as you left, the orcs came. They joined forces with the trolls and began to push us back. We decided to go to Knalga, but we got surrounded on the way."
        [/message]
        [message]
            speaker=Landar
            message= _ "What about Lintanir? Is it holding up? "
        [/message]
        [message]
            speaker=Olurf
            message= _ "I don't know! If it's holding on, it'll be worse for him now - the orcs have probably already taken over our castle and mines, so they've got a new outpost."
        [/message]
        [message]
            speaker=Erlornas
            message= _ "What about your lord, have you heard from him? "
        [/message]
        [message]
            speaker=Olurf
            message= _ "In my own land, I was a lord myself! And if you mean the Lord of the Dwarven Doors, he stays out of the affairs of the outskirts, and we stay out of his."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "We're going to Wesmere, there's going to be a decisive battle with the orcs. Will you help us?"
        [/message]
        [message]
            speaker=Olurf
            message= _ "I can't miss it, especially since I owe you a favor... two, in fact. We can go through the Dwarf Doors. It's the best road around, and they'll let you through anywhere with me. And in the city we can raise warriors for the decisive battle, if that's what it really is! What do you say?"
        [/message]
        [message]
            speaker=Kalenz
            message= _ "Sounds good to me, I agree."
        [/message]
    [/event]

    {DEFAULT_VICTORY 0.4}
    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
    {~add-ons/Legacy_of_Wesmere/utils/amlas.cfg}
[/scenario]