#textdomain wesnoth-low

[scenario]
    id=09_Elves_Last_Stand
    name= _ "Elves Last Stand"
    next_scenario=null
    allow_new_game=no
    force_lock_settings=yes
    experience_modifier=100
    victory_when_enemies_defeated=yes
    {LOW_MAP  Ka’lian.map}
    
    {TURNS 30 25 20}

    {INTRO_AND_SCENARIO_MUSIC elf-land.ogg elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {EXTRA_SCENARIO_MUSIC silvan_sanctuary.ogg}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}

    {DEFAULT_SCHEDULE_AFTERNOON}

    [story]
        [part]
            story= _ "The journey back to Wesmere was surprisingly uneventful, the orcs having apparently withdrawn to regroup after their defeats. Kalenz and his band returned just in time..."
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_GOLD 500 500 500 280 280 280}
        {KALENZ_YOUNG}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=yes
        shroud=no
        {SIDE_1_ESSENTIALS}
        save_id=Kalenz
    [/side]

    [side]
        side=2
        {SIDE_1_GOLD 500 500 500 280 280 280}
        {LANDAR_YOUNG}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=yes
        shroud=no
        {SIDE_2_ESSENTIALS}
        save_id=Landar
    [/side]

    {STARTING_VILLAGES_ALL 3}

    [side]
        side=3
        {PLAYABLE_SIDE}
        fog=yes
        no_leader=yes
        previous_save_id=Kalenz
        save_id=El_Isomithir
        disallow_shuffle=yes
        {SIDE_1_GOLD 500 500 500 280 280 280}
        recruit=Elvish Fighter,Elvish Archer
        income=-2
        village_gold=1
        user_team_name= _ "Ka’lian"
        {FLAG_VARIANT wood-elvish}

        [unit]
            {EL_ISOMITHIR}
            x=32
            y=31
            facing=nw
        [/unit]

    #ifndef MULTIPLAYER
        [unit]
            {GALTRID}
            x=28
            y=31
            facing=nw
        [/unit]
        [unit]
            type=Elvish Scout
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            facing=nw
            id=guard
            x=29
            y=29
        [/unit]
    #endif
        [unit]
            type=Elvish Scout
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            facing=nw
            id=guard2
            x=31
            y=29
        [/unit]
    [/side]

#ifdef MULTIPLAYER
    [event]
        name=prestart
        [capture_village]
            side=4
            x=1-29
            y=1-infinity
        [/capture_village]
    [/event]
#endif

# wmllint: skip-side
    {MP_SIDE 4 (
        no_leader=yes
        previous_save_id=Landar
        {PLAYABLE_SIDE}
        save_id=Galtrid
        disallow_shuffle=yes
        fog=yes
        {GOLD 280 280 280}
        recruit=Elvish Fighter,Elvish Archer,Elvish Scout
        income=-2
        village_gold=1
        {FLAG_VARIANT wood-elvish}
        user_team_name=_ "Ka’lian"

        [unit]
            {GALTRID}
            x=28
            y=31
        [/unit]

        [unit]
            type=Elvish Scout
            x=29
            y=29
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
    )}

    [side]
        side=5
        {UNPLAYABLE_SIDE}

        {GOLD 400 600 800}
        {INCOME 20 30 40}

        fog=yes 
        shroud=yes 
        share_vision=all

        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}

        type=Orcish Warlord
        id=Urug-Pir
        name=_ "Urug-Pir"
        profile=portraits/orcs/grunt-2.webp
#ifdef HARD
        recruit=Orcish Archer, Orcish Crossbowman, Orcish Slurbow, Orcish Assassin, Orcish Slayer, Orcish Nightblade, Orcish Grunt, Orcish Warrior, Orcish Warlord, Goblin Spearman, Goblin Impaler, Goblin Rouser, Wolf Rider, Goblin Knight, Goblin Pillager, Direwolf Rider
#endif
#ifdef NORMAL
        recruit=Orcish Archer, Orcish Crossbowman, Orcish Assassin, Orcish Slayer, Orcish Grunt, Orcish Warrior, Goblin Spearman, Goblin Impaler, Goblin Rouser, Wolf Rider, Goblin Knight, Goblin Pillager, Direwolf Rider
#endif
#ifdef EASY
        recruit=Orcish Archer, Orcish Crossbowman, Orcish Assassin, Orcish Grunt, Orcish Warrior, Goblin Spearman, Wolf Rider, Goblin Knight, Goblin Pillager
#endif

        [ai]
            recruitment_pattern="scout,fighter,fighter,archer,mixed fighter"
            {AI_SIMPLE_NIGHT_ASPECT aggression 0.75}
            {AI_SIMPLE_NIGHT_ASPECT caution 0.0}
        [/ai]
    [/side]

    [side]
        side=6
        {UNPLAYABLE_SIDE}

        {GOLD 400 600 800}
        {INCOME 20 30 40}
        village_gold=1

        fog=yes 
        shroud=yes 
        share_vision=all

        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}

        type=Great Troll
        id=Truugl
        name= _ "Truugl"
        canrecruit=yes
#ifdef EASY
        recruit=Troll Whelp
#endif
#ifdef NORMAL
        recruit=Troll Whelp, Troll, Troll Rocklobber, Troll Shaman
#endif
#ifdef HARD
        recruit=Troll Whelp, Troll, Troll Rocklobber, Troll Shaman, Troll Warrior, Troll Hero
#endif
        [ai]
            recruitment_pattern="fighter, mixed fighter, fighter, mixed fighter, fighter"
            {AI_SIMPLE_NIGHT_ASPECT aggression 0.75}
            {AI_SIMPLE_NIGHT_ASPECT caution 0.0}
        [/ai]
    [/side]

    [side]
        side=7
        {UNPLAYABLE_SIDE}

        {GOLD 400 600 800}
        {INCOME 20 30 40}
        village_gold=1

        fog=yes 
        shroud=yes 
        share_vision=all

        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}

        type=Naga Myrmidon
        id=Mordrum
        name= _ "Mordrum"
        canrecruit=yes
#ifdef HARD
        recruit=Naga Fighter, Naga Warrior, Naga Dirkfang, Naga Guard, Naga Shield Guard, Naga High Guard, Naga Ophidian, Naga Ringcaster, Naga Sicarius, Naga Zephyr, Naga Myrmidon, Water Serpent
#endif
#ifdef NORMAL
        recruit=Naga Fighter, Naga Dirkfang, Naga Guard, Naga Shield Guard, Naga Ophidian, Naga Ringcaster, Naga Warrior, Water Serpent
#endif
#ifdef EASY
        recruit=Naga Fighter, Naga Dirkfang, Naga Guard
#endif
        [ai]
            {AI_SIMPLE_NIGHT_ASPECT aggression 0.75}
            {AI_SIMPLE_NIGHT_ASPECT caution 0.0}
        [/ai]
    [/side]

    [side]
        side=8
        {UNPLAYABLE_SIDE}

        {GOLD 140 180 220}
        {INCOME 8 16 24}
        village_gold=1

        fog=yes 
        shroud=yes 
        share_vision=all

        team_name=saurians
        user_team_name= _ "Saurians"
        {FLAG_VARIANT undead}

        type=Saurian Flanker
        id=Hizz
        name= _ "Hizz"
        canrecruit=yes
#ifdef EASY
        recruit=Saurian Skirmisher,Saurian Augur
#endif
#ifdef NORMAL
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Spearthrower,Saurian Ambusher,Saurian Oracle,Saurian Soothsayer
#endif
#ifdef HARD
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Spearthrower,Saurian Ambusher,Saurian Oracle,Saurian Soothsayer,Saurian Javelineer,Saurian Flanker,Saurian Seer,Saurian Prophet
#endif
        [ai]
            village_value={ON_DIFFICULTY 3 4 5}
            {AI_SIMPLE_NIGHT_ASPECT aggression 0.75}
            {AI_SIMPLE_NIGHT_ASPECT caution 0.0}
        [/ai]
    [/side]

    [event]
        name=scenario_end
        [filter_condition]
            [proceed_to_next_scenario]
            [/proceed_to_next_scenario]
        [/filter_condition]

        [persistent_carryover_store]
            scenario_id = LoW_Chapter_Three
        [/persistent_carryover_store]
    [/event]
[/scenario]