#textdomain wesnoth-low
[scenario]
    id=10_Bounty_Hunters
    next_scenario=11_Cliffs_of_Thoria
    name= _ "Bounty Hunters"
    {LOW_MAP bh2.map}

    victory_when_enemies_defeated=yes
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    allow_new_game=yes
    new_game_title= _ "Chapter Three: The Book of Crelanu"
    force_lock_settings=yes
    
    random_start_time=no
    {DEFAULT_SCHEDULE}

    {TURNS4 35 32 28 24}

    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC northerners.ogg traveling_minstrels.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC journeys_end.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}

    [story]
#ifdef MULTIPLAYER
        [part]
            title= _ "<i>The Legend of Wesmere</i>
Chapter Three"
            #  show_title=yes
        [/part]
#endif
        [part]
            title= _ "Chapter Three
<i>The Book of Crelanu</i>"
            show_title=yes
        [/part]
        [part]
            story= _ "Believing that Wesmere’s seeming safety might prove a costly illusion, Kalenz, Landar and Olurf left enough troops and resources to guard it strongly before starting off on the long and dangerous trip to the great mage of Thoria. They would soon find that peril was closer than they had reckoned."
        [/part]
    [/story]
    {LOW_TRACK ( {FLIGHT_COMPLETE} {TREASURY_COMPLETE} {BOOK_STAGE2} ) }

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ}
        {SIDE_1_GOLD_FIXED 280 200}
        income=-2
        village_gold=1
        fog=no
        shroud=no
#ifndef MULTIPLAYER
        [unit]
            {LANDAR}
            x,y=19,32
        [/unit]
#endif
        [unit]
            {CLEODIL_COMPANION}
            x,y=18,32
        [/unit]
    [/side]
    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {LANDAR_YOUNG}
        gold=200
        income=-2
        village_gold=1
        fog=no
        shroud=no
    [/side]
    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=lizards
        user_team_name= _ "Enemies"
        {FLAG_VARIANT undead} 
        type=Saurian Flanker
        id=Huurgh
        name=_ "Huurgh"
        {INCOME4 4 8 12 16}
        {GOLD4 300 360 440 500}
        recruit=Saurian Augur, Saurian Skirmisher, Saurian Ambusher, Saurian Oracle, Saurian Soothsayer, Saurian Flanker
        [ai]
            recruitment_pattern=scout, scout, healer, archer, archer, scout
            grouping=offensive
            aggression=0.75
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 3 2}
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 3 6 9}}
#endif
        [/ai]
    [/side]
    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=lizards
        user_team_name= _ "Enemies"
        {FLAG_VARIANT undead} 
        type=Drake Flare
        id=Shhar
        name=_ "Shhar"
        {INCOME4 4 8 12 16}
        {GOLD4 300 360 460 540}
        recruit=Drake Fighter,Drake Clasher,Drake Burner,Drake Glider,Drake Warrior,Drake Thrasher,Drake Arbiter,Drake Flare,Sky Drake,Fire Drake,Drake Blademaster
        [ai]
            grouping=offensive
            aggression=0.75
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 3 2}
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 3 6 9}}
#endif
        [/ai]
    [/side]
    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=creatures
        user_team_name= _ "Creatures"
        hidden=yes
        no_leader=yes
        [ai]
            aggression=1.0
            caution=-100.0
            grouping=no
            [avoid]
                y=12-36
            [/avoid]
            village_value=0
        [/ai]
    [/side]

    [event]
        name=prestart
        
        {RECALL id=Anduilas 17 31}
        {RECALL id=Arkildur 19 31}

        [unit]
            {OLURF_COMPANION}
#ifdef MULTIPLAYER 
            side=2 
#else
            side=1
#endif
            x,y=18,31
        [/unit]

#ifdef MULTIPLAYER
            [persistent_carryover_unstore]
                scenario_id = LoW_Chapter_Three
            [/persistent_carryover_unstore]
#endif
    [/event]

    [event]
        name=prestart
        [objectives]
                side=0
                [objective]
                    description= _ "Kalenz crosses the river"
                    condition=win
                [/objective]
                [objective]
                    description= _ "Death of Kalenz"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Death of Landar"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Death of Cleodil"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Death of Olurf"
                    condition=lose
                [/objective]

                {TURNS_RUN_OUT}

                [gold_carryover]
                    bonus=yes
                    carryover_percentage=40
                [/gold_carryover]
            [/objectives]
    [/event]

    [event]
        name=start

            [message]
                id=Huurgh
                # wmllint: local spelling Yess
                message= _ "Yess! It’s the elves who stole our gold! The bounty is mine!"
            [/message]
            [message]
                id=Shhar
                message= _ "I saw them first, fool! The bounty is all mine."
            [/message]
            [message]
                id=Olurf
                message= _ "What are they talking about?"
            [/message]
            [message]
                id=Landar
                message= _ "It would seem the saurians put a bounty on our heads for having the effrontery to take our gold back after they stole it. Are you interested?"
            [/message]
            [message]
                id=Olurf
                message= _ "No, but my axe is interested in some saurian heads! They ha’ been too friendly with the orcs for my liking!"
            [/message]
            [message]
                id=Kalenz
                message= _ "Remember, we are here on a mission. We will fight these saurians if we must, but our mission is to get to Thoria."
            [/message]
            [message]
                id=Landar
                message= _ "They are far too numerous to risk battle with. Let’s cross the river!"
            [/message]
            [message]
                id=Olurf
                message= _ "We can outrun them in the woods and mountains beyond the north shore. But crossing the river without a bridge? We dwarves know water is a very dangerous thing!"
            [/message]
            [message]
                id=Cleodil
                message= _ "Indeed, this river is, I believe, Arkan-Thoria. There are fell legends about it. Maybe they are but children’s tales... Still, be very careful when you cross it."
            [/message]
            [message]
                id=Kalenz
                message= _ "You speak my thought, Cleodil. Close in behind me; I’ll guard you from harm myself. Look to your weapons as we cross, all! And be wary."
            [/message]        
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            [filter_location]
                y=1-12 
                terrain=W*
            [/filter_location]
        [/filter]

        {RANDOM_PLACEMENT 32 9 1 (
            type=Water Serpent
            id=Sealurr
            name= _ "Sealurr"
            side=5
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        ) }

        [message]
            speaker=unit
            message= _ "The legends are true! Sea creatures are upon us!"
        [/message]

        [scroll_to_unit]
            id=Sealurr
        [/scroll_to_unit]

        {RANDOM_PLACEMENT 3 10 2 (
            type=Cuttle Fish
            id=Kallub
            name= _ "Kallub"
            side=5
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        ) }

        [message]
            speaker=unit
            message= _ "They are coming at us from all sides!"
        [/message]

        [scroll_to_unit]
            id=Kallub
        [/scroll_to_unit]

#ifndef EASY
        {RANDOM_PLACEMENT 4 10 1 (
            type=Water Serpent
            id=Scardeep
            name= _ "Scardeep"
            side=5
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        ) }

        [message]
            speaker=unit
            message= _ "Watch for the serpent!"
        [/message]

        [scroll_to_unit]
            id=Scardeep
        [/scroll_to_unit]

        {RANDOM_PLACEMENT 19 9 1 (
            type=Cuttle Fish
            id=Kalimar
            name= _ "Kalimar"
            side=5
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        ) }

        [scroll_to_unit]
            id=Kalimar
        [/scroll_to_unit]
#endif

#ifdef HARD
        {RANDOM_PLACEMENT 34 10 1 (
            type=Cuttle Fish
            id=Alkamar
            name= _ "Alkamar"
            side=5
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        ) }

        [scroll_to_unit]
            id=Alkamar
        [/scroll_to_unit]
#endif
    [/event]
    {DEFAULT_VICTORY 0.4}
    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
    {~add-ons/Legacy_of_Wesmere/utils/amlas.cfg}
[/scenario]