#textdomain wesnoth-LoW

### MISC ###

#ifdef MULTIPLAYER 
#define LOW_AMLA_COLOR
blue#enddef
#else 
#define LOW_AMLA_COLOR
red#enddef 
#endif

#define HEAL_AND_REMOVE_STATUS
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
    [effect]
        apply_to=hitpoints
        heal_full=yes
    [/effect]
#enddef

#define ADD_RECRUIT FILTER TYPE
[event]
    name=post_advance
    first_time_only=no
    [filter]
        ability={FILTER}
    [/filter]
    [allow_recruit]
        side=1,2 
        type={TYPE}
    [/allow_recruit]
[/event]
#enddef

### CLEODIL AMLA EVENTS ### 
{ADD_RECRUIT recruit_wose Wose}
{ADD_RECRUIT recruit_merman "Merman Hunter"}
{ADD_RECRUIT recruit_mermaid "Mermaid Initiate"}

### OLURF AMLA EVENTS ### 
{ADD_RECRUIT recruit_fighter "Dwarvish Fighter"}
{ADD_RECRUIT recruit_thunderer "Dwarvish Thunderer"}
{ADD_RECRUIT recruit_scout "Dwarvish Scout"}
{ADD_RECRUIT recruit_guardsman "Dwarvish Guardsman"}
{ADD_RECRUIT recruit_ulfserker "Dwarvish Ulfserker"}
{ADD_RECRUIT recruit_gryphon_rider "Gryphon Rider"}


