#textdomain wesnoth-low

#define TEACHING_ANIM SECOND_IMAGE FIRST_IMAGE X Y
    [teaching_anim]
        start_time=-250
        [frame]
            image="{SECOND_IMAGE}:1","{FIRST_IMAGE}:250","{SECOND_IMAGE}:1"
        [/frame]

        halo_start_time=-100
        [halo_frame]
            halo="halo/misc/leadership-flare-[1~13].png:20"
            halo_x,halo_y={X},{Y}
        [/halo_frame]
    [/teaching_anim]
#enddef