#textdomain wesnoth-low

[scenario]
    id=06_Caverns_of_Saurgath
    name= _ "Caverns_of_Saurgath"
    map_data="{~add-ons/Legacy_of_Wesmere/maps/Caverns_of_Saurgath.map}"

    turns=-1

    next_scenario=null
    victory_when_enemies_defeated=no

    allow_new_game=no

    random_start_time=no
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    {UNDERGROUND}

    {SCENARIO_MUSIC the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC suspence.ogg}

    [side]
        side=1
        {SIDE_1_GOLD 280 280 280 175 175 175}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=yes
        {SIDE_1_ESSENTIALS}
        {KALENZ}

        [unit]
            {CLEODIL_COMPANION}
        [/unit]

	#ifndef MULTIPLAYER
        [unit]
            {LANDAR}
            x,y=28,53
        [/unit]
    #endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {GOLD 175 175 175}
        {LANDAR}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Ambusher
        canrecruit=yes

        recruit=Saurian Skirmisher
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Ambusher 
        #endif
        {FLAG_VARIANT undead}
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2
        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Flanker
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur 
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher 
        #endif
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Soothsayer
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur,Giant Ant,Giant Scorpion
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=6
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Flanker
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur 
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher 
        #endif
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=7
        {UNPLAYABLE_SIDE}

        team_name=saurians
        user_team_name= _ "Saurians"

        no_leader=yes
        {FLAG_VARIANT undead}
    [/side]

    {STARTING_VILLAGES 3 10}
    {STARTING_VILLAGES 4 10}
    {STARTING_VILLAGES 5 10}
    {STARTING_VILLAGES 6 10}

    [event]
    name=prestart 
    
        [recall]
            id=Erlornas
            x,y=27,52
        [/recall]

        #Saurian Treasury Guards: 

        {UNIT 4 "Saurian Ambusher" 13 36 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 14 34 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 13 27 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 15 28 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Flanker" 23 29 ()}{LOYAL_GUARDIAN}

        #Saurian Cattle: 

        {LOYAL_UNIT 5 "Giant Scorpion" 27 33}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpion" 26 31}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpion" 30 35}{GUARDIAN}
        {LOYAL_UNIT 5 "Soldier Ant" 28 29}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpion" 27 29}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Spider" 33 33}{GUARDIAN}

        #Monsters:

        {UNIT 7 "Tentacle of the Deep" 6 22 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 9 27 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 10 20 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 10 18 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 14 19 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 16 18 (ai_special=guardian)}
        {UNIT 7 "Tentacle of the Deep" 19 19 (ai_special=guardian)}

        #Main Tunnel Guards:

        {LOYAL_UNIT 6 "Saurian Ambusher" 26 23}{GUARDIAN}
        {LOYAL_UNIT 6 "Saurian Ambusher" 25 20}{GUARDIAN}
        {LOYAL_UNIT 6 "Saurian Ambusher" 22 17}{GUARDIAN}
        {GENERIC_UNIT 6 "Saurian Ambusher" 20 9}{LOYAL_GUARDIAN}
        {GENERIC_UNIT 6 "Saurian Ambusher" 21 5}{LOYAL_GUARDIAN}
    [/event]

    [event]
    name=sighted
    first_time_only=no 

        [filter]
            race=lizard 
            canrecruit=yes 
            [not]
                side=3
            [/not]
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [gold]
            side=$unit.side
            amount={ON_DIFFICULTY 40 60 80}
        [/gold]
    [/event]
[/scenario]

