#textdomain wesnoth-low

[scenario]
    id=06_Caverns_of_Saurgath
    name= _ "Caverns_of_Saurgath"
    map_data="{~add-ons/Legacy_of_Wesmere/maps/Caverns_of_Saurgath.map}"

    [label]
        text= _ "Saurian Treasury"
        x,y=23,29
    [/label]

    turns=-1

    next_scenario=null
    victory_when_enemies_defeated=no

    allow_new_game=no

    random_start_time=no
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    {UNDERGROUND}

    {SCENARIO_MUSIC the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC suspence.ogg}

    [side]
        side=1
        {SIDE_1_GOLD 280 280 280 175 175 175}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=yes
        {SIDE_1_ESSENTIALS}
        {KALENZ}

	#ifndef MULTIPLAYER
        [unit]
            {LANDAR}
            x,y=28,53
        [/unit]
    #endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {GOLD 175 175 175}
        {LANDAR}
        {INCOME -2 -2 -2}
        village_gold=1
        fog=no
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        {GOLD 30 40 50}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Ambusher
        canrecruit=yes

        recruit=Saurian Skirmisher
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur
        #endif
        {FLAG_VARIANT undead}
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2
        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Flanker
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur 
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher 
        #endif
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Soothsayer
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur,Giant Scorpling
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher,Giant Scorpion
        #endif
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=6
        {UNPLAYABLE_SIDE}
        {GOLD 0 10 15}
        income=-2

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Saurian Flanker
        canrecruit=yes

        recruit=Saurian Skirmisher,Saurian Augur 
        #ifdef HARD 
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Ambusher 
        #endif
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=7
        {UNPLAYABLE_SIDE}
        {GOLD 0 5 10}
        {INCOME 2 4 6}

        team_name=saurians
        user_team_name= _ "Saurians"

        type=Giant Mudcrawler
        canrecruit=yes

        recruit=Mudcrawler,Giant Mudcrawler
        {FLAG_VARIANT undead}
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    {STARTING_VILLAGES 3 10}
    {STARTING_VILLAGES 4 10}
    {STARTING_VILLAGES 5 10}
    {STARTING_VILLAGES 6 10}

    [event]
    name=prestart 

        {PLACE_IMAGE scenery/signpost.png 23 39}
        {PLACE_IMAGE scenery/rubble.png 25 27}
        {PLACE_IMAGE items/chest.png 23 29}
    
        [recall]
            id=Erlornas
            x,y=27,52
        [/recall]

        [recall]
            id=Cleodil 
            x,y=27,53
        [/recall]

        #Saurian Treasury Guards: 

        {UNIT 4 "Saurian Ambusher" 14 35 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 14 27 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Flanker" 23 29 ()}{LOYAL_GUARDIAN}

        #Saurian Cattle: 

        {LOYAL_UNIT 5 "Giant Scorpion" 27 33}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpling" 26 31}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpling" 30 35}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpling" 28 29}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Scorpion" 27 29}{GUARDIAN}
        {LOYAL_UNIT 5 "Giant Spider" 33 33}{GUARDIAN}

        #Monsters:

        #Main Tunnel Guards:

        {UNIT 4 "Saurian Ambusher" 21 18 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 18 13()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 20 9 ()}{LOYAL_GUARDIAN}
        {UNIT 4 "Saurian Ambusher" 21 5 ()}{LOYAL_GUARDIAN}
    [/event]

    [event]
    name=sighted
    first_time_only=no 

        [filter]
            race=lizard 
            canrecruit=yes 
            [not]
                side=3
            [/not]
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [gold]
            side=$unit.side
            amount={ON_DIFFICULTY 40 60 80}
        [/gold]
    [/event]

    [event]
    name=moveto 

        [filter]
            side=1,2
            [filter_location]
                x,y=23,29
            [/filter_location]
        [/filter]

        {REMOVE_IMAGE 23 29}

        #ifdef MULTIPLAYER 
        {LOOT 150 1}
        {LOOT 150 2}
        #else
        {LOOT 300 1}
        #endif
    [/event]

    [event]
    name=moveto 

        [filter]
            side=1,2
            [filter_location]
                x,y=25,27
            [/filter_location]
        [/filter]

        {QUAKE (
        [sound]
            name=cave-in.png 
        [/sound])}
        [terrain]
            x,y=25,26
            terrain=Re 
        [/terrain]
        [redraw][/redraw]
    [/event]

    [event]
    name=moveto 

        [filter]
            side=1,2
            canrecruit=yes
            [filter_location]
                y=1
            [/filter_location]
        [/filter]
        [endlevel]
            result=victory 
        [/endlevel]
    [/event]
    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
[/scenario]

