#textdomain wesnoth-low
[scenario]
    id=Civil_War_S4
    next_scenario=Civil_War_S5
    name= _ "Civil War S4"
    {LOW_MAP North_Elves.map}

    victory_when_enemies_defeated=no
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    force_lock_settings=yes

    random_start_time=no
    {DEFAULT_SCHEDULE}

    turns=18

    {INTRO_AND_SCENARIO_MUSIC sad.ogg weight_of_revenge.ogg}
    {EXTRA_SCENARIO_MUSIC suspense.ogg}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC the_deep_path.ogg}

    [story]
        [part]
            story= _ "The news of Landar's turmoil spread with the speed of an arrow. When Kalenz and Cleodil reached the capital, their loyal troops were already assembling there. Lord Uradredia was preparing for battle. Soon Landar's army showed up..."
            {LOW_BIGMAP}
            {CIVILWAR_STAGE1}
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {KALENZ_LORD}
        {SIDE_1_GOLD_FIXED 250 160}
        income=-2
        village_gold=1
        fog=no
        shroud=no
#ifndef MULTIPLAYER
        [unit]
            {CLEODIL_INLOVE}
            x,y=18,15
        [/unit]
#endif
        [unit]
            {URADREDIA}
            x,y=17,17
        [/unit]
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {CLEODIL_INLOVE}
        x,y=18,15
        gold=160
        income=-2
        village_gold=1
        fog=no
        shroud=no
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=assassins
        user_team_name= _ "Enemies"
        {FLAG_VARIANT wood-elvish}
        type=Elvish Marshal
        {GOLD4 200 250 280 330}
        {INCOME4 4 8 12 16}
        recruit=Elvish Archer, Elvish Fighter, Elvish Hero, Elvish Ranger,Elvish Druid
        [ai]
            aggression=0.75
            caution=0.1
            grouping=no
            recruitment_pattern=archer,fighter,mixed fighter
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 1 2 3}}
#endif
        [/ai]
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=assassins
        user_team_name= _ "Enemies"
        {FLAG_VARIANT wood-elvish}
        type=Elvish Captain
        {GOLD4 200 250 280 330}
        {INCOME4 4 8 12 16}
        recruit=Elvish Archer, Elvish Fighter,Elvish Scout
        [ai]
            aggression=0.75
            caution=0.1
            grouping=no
            recruitment_pattern=archer,fighter,mixed fighter
        [/ai]
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=assassins
        user_team_name= _ "Enemies"
        {FLAG_VARIANT wood-elvish}
        type=Elvish Sharpshooter
        {GOLD4 200 250 280 330}
        {INCOME4 4 8 12 16}
        recruit=Elvish Archer, Elvish Fighter, Elvish Hero, Elvish Ranger,Elvish Marksman,Elvish Rider
        [ai]
            aggression=0.75
            caution=0.1
            grouping=no
            recruitment_pattern=archer,fighter,mixed fighter
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 1 2 3}}
#endif
        [/ai]
    [/side]

    [side]
        side=6
        {UNPLAYABLE_SIDE}
        team_name=assassins
        user_team_name= _ "Enemies"
        {FLAG_VARIANT wood-elvish}
        type=Elvish Champion
        {GOLD4 200 250 280 330}
        {INCOME4 4 8 12 16}
        recruit=Elvish Archer, Elvish Fighter, Elvish Hero, Elvish Ranger,Elvish Champion
        [ai]
            aggression=0.75
            caution=0.1
            grouping=no
            recruitment_pattern=archer,fighter,mixed fighter
#ifndef NIGHTMARE
            {AI_ASPECT_LIMIT_RECRUITS 2 {ON_DIFFICULTY 1 2 3}}
#endif
        [/ai]
    [/side]

    {STARTING_VILLAGES_ALL 1}

    [event]
    name=prestart 

        {NEED_KALENZ_LORD}
        {RECALL_LOYALS}

        {VARIABLE_OP revolt_seed rand 1..10}
        {VARIABLE captured_villages ""}

        [modify_unit]
            [filter]
                id=Kalenz 
            [/filter]
            [filter_recall]
                race=elf,merfolk,wose
            [/filter_recall]
        [/modify_unit]

        [modify_unit]
            [filter]
                id=Cleodil
            [/filter]
            [filter_recall]
                race=elf,merfolk,wose
            [/filter_recall]
        [/modify_unit]
#ifdef MULTIPLAYER
        [capture_village]
            side=2
            x=17-35
        [/capture_village]
#endif
    [/event]

    [event]
    name=capture 
    first_time_only=no 

        [filter]
            side=3,4,5,6
        [/filter]

        {VARIABLE spawn_chance $unit.x}
        {VARIABLE_OP spawn_chance add $unit.y}
        {VARIABLE_OP spawn_chance add $revolt_seed}
        {VARIABLE_OP spawn_chance modulo 10}

        [if]
            [variable]
                name=spawn_chance 
                less_than_equal_to=4
            [/variable]
        [then]
            [if]
                [variable]
                    name=captured_villages 
                    contains="($unit.x|,$unit.y|)" 
                [/variable]
            [then]
                [allow_undo][/allow_undo]
            [/then]

            [else]

                {VARIABLE captured_villages "$captured_villages|($unit.x|,$unit.y|)"}

                [floating_text]
                    x,y=$x1,$y1
                    text=_ "For Landar!"
                    {COLOR_HEAL}
                [/floating_text]

                {VARIABLE_OP villager_type rand "Elvish Archer,Elvish Fighter,Elvish Archer,Elvish Fighter,Elvish Scout,Elvish Shaman"}
                {GENERIC_UNIT $unit.side $villager_type $x1 $y1}
                {CLEAR_VARIABLE villager_type}
            [/else]
            [/if]
        [/then]
        [else]
            [allow_undo][/allow_undo]
        [/else]
        [/if]
        {CLEAR_VARIABLE spawn_chance}
    [/event]

    [event]
    name=start 

        {NEED_LANDAR_STORED 22 28 5}

        [message]
            speaker=Landar 
            message= _ "Lord Uradredia! I suppose you have already heard of the new dawn we carry on our arrowheads, on the tip of our blades. I ask you the same question I ask of all: will you join the strong and brave, or will you fall with the other weaklings?"
        [/message]

        [message]
            speaker=Uradredia
            message= _ "It's unthinkable for a young elf to speak to a lord like that. And it's even more unthinkable to threaten his kin with war. My answer is no, Landar. I will stop you and make you answer for your crimes."
        [/message]

        [message]
            speaker=Landar 
            message= _ "Still as arrogant as ever! But your warriors are no fools, lord. Let's see how you talk when their arrows hit you!"
        [/message]

        [message]
            speaker=Uradredia
            message= _ "Take your battle stations! Prepare for battle! Let's cut the rot from the body of our people. "
        [/message]

        [message]
            speaker=Cleodil
            message= _ "The elves of Landar are preparing to storm, Lord Uradredia is determined to give them a fight. The slaughter cannot be avoided, Kalenz..."
        [/message]

        [message]
            speaker=Kalenz
            message= _ "As hard as it is to fight against our own, we must endure this blow. As long as Landar feels he has the upper hand, he won't talk."
        [/message]

        [message]
            speaker=Cleodil
            message= _ "At least those who have followed us from the beginning have not succumbed to his dark will. That gives me hope."
        [/message]

        [message]
            speaker=Kalenz
            message= _ "Whatever happens, stay close, Cleodil. I can't lose you too."
        [/message]

        [message]
            speaker=Landar 
            message= _ "Assault! Show the North Elves our power and they will join us!"
        [/message]

        {MOVE_UNIT id=Landar 22 29}

        [store_unit]
            [filter]
                id=Landar 
            [/filter]
            kill=yes
            variable=landar_stored 
        [/store_unit]
    [/event]

    [event]
    name=time over 

        [endlevel]
            result=victory 
        [/endlevel]
    [/event]

    [event]
    name=victory 

        [unstore_unit]
            variable=landar_stored
            x,y=29,31
            check_passability=yes
        [/unstore_unit]

        [message]
            speaker=Landar 
            message= _ "Damn it! It's all because of Kalenz! We need to regroup!"
        [/message]

        [message]
            speaker=Uradredia
            message= _ "We have withstood the siege, now we will strike on our own. Let all the elves who can fight gather in the capital. The rebels cannot stand against the entire Lintanirian army!"
        [/message]

        [message]
            speaker=Cleodil 
            message= _ "Are we in for another elf slaughter..."
        [/message]

        [message]
            speaker=Kalenz
            message= _ "My lord, I beg you to delay. Drawing more elves into the war will not only increase our own forces, but also those of the Landar. There will be slaughter, the elves will slaughter each other, and the victor will have nothing but empty, blood-drenched forests."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "There is a grain of truth in what you say, but then how do you propose to quell the rebellion?"
        [/message]

        [message]
            speaker=Kalenz
            message= _ "First of all, Landar needs to eliminate me and Cleodil. We can take a squad of trusted veterans and lead him into the northern wilderness, away from the elven villages. We can stop him there without too many casualties."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "But what if Landar defeats you?"
        [/message]

        [message]
            speaker=Kalenz
            message= _ "Then we'll at least buy you time to prepare an army."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "I'll ask one more question, Landar was your friend, are you willing to kill him if he refuses to surrender?"
        [/message]

        [message]
            speaker=Kalenz
            message= _ "I... I am ready."
        [/message]

        [message]
            speaker=Cleodil
            message= _ "Me too..."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "Then let's not delay or hesitate. Take a troop and march north. And may the spirits of winter help you!"
        [/message]

        {MOVE_UNIT id=Kalenz 23 1}
        {MOVE_UNIT id=Cleodil 23 1}

        [message]
            speaker=Kalenz
            message= _ "Landar, hear me! I am on my way to Wesmere to expose your evil deeds to the Elves. Perhaps, having lost your supporters, you will realize how much pain and evil your cruel plans bring to the elves."
        [/message]

        [message]
            speaker=Cleodil
            message= _ "I'm going with Kalenz. Rest assured, Crelanu's book will be so far out in the middle of nowhere, you won't have a lifetime to find it."
        [/message]

        [message]
            speaker=Landar
            message= _ "I won't let it happen! Everyone after them!"
        [/message]
    [/event]

    {~add-ons/Legacy_of_Wesmere/utils/deaths.cfg}
    {~add-ons/Legacy_of_Wesmere/utils/amlas.cfg}  
[/scenario]
